import { GetStaticProps, NextPage } from 'next';
import Head from 'next/head';
import { {{pascalCase name}}PageTemplate, {{pascalCase name}}PageTemplateProperties } from '~templates';

const {{pascalCase name}}: NextPage<{{pascalCase name}}PageTemplateProperties> = ({ ...properties }) => {
  return (
    <>
      <Head>
        <title>{properties.title}</title>
      </Head>

      <{{pascalCase name}}PageTemplate {...properties} />
    </>
  );
};

export const getStaticProps: GetStaticProps = async () => {
  const pageProperties: {{pascalCase name}}PageTemplateProperties = {
    title: '{{titleCase name}}',
  };

  return {
    props: { ...pageProperties },
  };
};

export default {{pascalCase name}};
